In [6]:
import pandas as pd
a=pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]},index=["a","b","c","d"])
b=pd.DataFrame({"C":[1,2,3],"D":[21,22,23]},index=["a","b","c"])
a.join(b)

   A   B    C     D
a  1  11  1.0  21.0
b  2  12  2.0  22.0
c  3  13  3.0  23.0
d  4  14  NaN   NaN

In [7]:
b.join(a)

   C   D  A   B
a  1  21  1  11
b  2  22  2  12
c  3  23  3  13

In [8]:
b.join(a,how="inner") # intersection

   C   D  A   B
a  1  21  1  11
b  2  22  2  12
c  3  23  3  13

In [9]:
b.join(a,how="outer") # union

     C     D  A   B
a  1.0  21.0  1  11
b  2.0  22.0  2  12
c  3.0  23.0  3  13
d  NaN   NaN  4  14

In [10]:
b.join(a,how="left")

   C   D  A   B
a  1  21  1  11
b  2  22  2  12
c  3  23  3  13

In [11]:
b.join(a,how="right")

     C     D  A   B
a  1.0  21.0  1  11
b  2.0  22.0  2  12
c  3.0  23.0  3  13
d  NaN   NaN  4  14

In [17]:
a=pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]},index=["a","b","c","d"])
b=pd.DataFrame({"C":[1,2,3],"B":[21,22,23]},index=["a","b","c"])
# b.join(a) # ValueError: columns overlap but no suffix specified: Index(['B'], dtype='object')
b.join(a,how="outer",lsuffix="_12",rsuffix="_12")

     C  B_12  A  B_12
a  1.0  21.0  1    11
b  2.0  22.0  2    12
c  3.0  23.0  3    13
d  NaN   NaN  4    14

# Append

In [19]:
a1=pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
b1=pd.DataFrame({"C":[1,2,3],"B":[21,22,23]})
a1.append(b1) # append method has been deprecated in recent versions of pandas (specifically, starting from version 1.4.0) and is no longer available

AttributeError: 'DataFrame' object has no attribute 'append'