In [1]:
import pandas as pd 
var=pd.DataFrame({"A":[1,2,3,4,5],"B":[5,6,7,8,9]})
print(var)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8
4  5  9

In [3]:
var["C"]=var["A"]*var["B"]
print(var)

   A  B   C
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32
4  5  9  45

In [9]:
var1=pd.DataFrame({"A":[1,2,3,4,5],"B":[5,6,7,8,9]})
print(var1)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8
4  5  9

In [10]:
var1["Python"]=var1["A"]<=4
var1

   A  B  Python
0  1  5    True
1  2  6    True
2  3  7    True
3  4  8    True
4  5  9   False